<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="typhoon_extruder_macro" params="prefix tool_data">
    <xacro:property name="tcp_xyz" value="${tool_data['x']} ${tool_data['y']} ${tool_data['z']}"/>
    <xacro:property name="tcp_rpy" value="${tool_data['roll']} ${tool_data['pitch']} ${tool_data['yaw']}"/>

    <!-- link list -->
    <link name="${prefix}typhoon_extruder">
      <visual>
        <geometry>
          <mesh filename="package://hydra_description/meshes/visual/typhoon_extruder.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://hydra_description/meshes/collision/typhoon_extruder_collision.stl"/>
        </geometry>
      </collision>
    </link>
    <link name="${prefix}typhoon_extruder_tcp"/>

    <!-- attach extruder to flange -->
    <joint name="${prefix}extruder_attach_joint" type="fixed">
      <parent link="${prefix}flange"/>
      <child link="${prefix}typhoon_extruder"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    <joint name="${prefix}extruder_extruder_base" type="fixed">
      <parent link="${prefix}typhoon_extruder"/>
      <child link="${prefix}typhoon_extruder_tcp"/>
      <origin xyz="${tcp_xyz}" rpy="${tcp_rpy}"/>
    </joint>

  </xacro:macro>
</robot>
