<?xml version="1.0" ?>
<robot name="hydra" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="tool" default="typhoon_extruder"/>

  <!-- ros2_control parameters-->
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="include_hardware" default="true"/>

  <xacro:property name="tool_parameters_file" value="$(find hydra_description)/config/tool_parameters.yaml"/>
  <xacro:property name="kinematic_parameters_file" value="$(find hydra_description)/config/kinematic_parameters.yaml"/>

  <xacro:include filename="$(find hydra_description)/urdf/hydra_macro.xacro"/>
  <xacro:hydra_macro
    prefix="$(arg prefix)"
    tool_parameters_file="${tool_parameters_file}"
    kinematic_parameters_file="${kinematic_parameters_file}"
    rob1_tool="$(arg tool)"
    rob2_tool="$(arg tool)"
    rob3_tool="$(arg tool)"
  />

  <link name="world"/>
  <joint name="world-$(arg prefix)hydra_base" type="fixed">
    <parent link="world"/>
    <child  link="$(arg prefix)hydra_base"/>
  </joint>

  <xacro:if value="$(arg include_hardware)">
    <xacro:include filename="$(find za_description)/urdf/za.ros2_control.xacro"/>
    <xacro:za_ros2_control prefix="$(arg prefix)rob1_" use_mock_hardware="$(arg use_mock_hardware)"/>
    <xacro:za_ros2_control prefix="$(arg prefix)rob2_" use_mock_hardware="$(arg use_mock_hardware)"/>
  </xacro:if>
</robot>
