<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="ped_height" value="0.585"/>
  <xacro:property name="base_height" value="0.2"/>

  <xacro:macro name="za_pedestal_macro" params="prefix tool_data tool:='tool0'">
    <xacro:include filename="$(find hydra_description)/urdf/robots/za_tool_macro.xacro"/>
    <xacro:za_tool_macro prefix="${prefix}" tool_data="${tool_data}" tool="${tool}"/>

    <link name="${prefix}pedestal_base">
      <visual>
        <geometry>
          <mesh filename="package://hydra_description/meshes/visual/hframe_base.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://hydra_description/meshes/collision/hframe_base_collision.stl"/>
        </geometry>
      </collision>
    </link>
    <link name="${prefix}pedestal">
      <visual>
        <geometry>
          <mesh filename="package://hydra_description/meshes/visual/za_pedestal.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://hydra_description/meshes/collision/za_pedestal_collision.stl"/>
        </geometry>
      </collision>
    </link>
    <link name="${prefix}pedestal_top"/>

    <joint name="${prefix}base_link-${prefix}pedestal_top" type="fixed">
      <parent link="${prefix}base_link"/>
      <child  link="${prefix}pedestal_top"/>
    </joint>
    <joint name="${prefix}pedestal_top-${prefix}pedestal" type="fixed">
      <origin rpy="0.0 0.0 0.0" xyz="0 0 ${-ped_height}"/>
      <parent link="${prefix}pedestal_top"/>
      <child  link="${prefix}pedestal"/>
    </joint>
    <joint name="${prefix}pedestal-${prefix}pedestal_base" type="fixed">
      <origin rpy="0.0 0.0 0.0" xyz="0 0 ${-base_height}"/>
      <parent link="${prefix}pedestal"/>
      <child  link="${prefix}pedestal_base"/>
    </joint>

  </xacro:macro>
</robot>
